body
{
    font-family: sans-serif;
    font-size: 11pt;
}

input {
    font-family: sans-serif;
    font-size: 11pt;
}

select {
    font-family: sans-serif;
    font-size: 11pt;
    height: 22px;
}

.header1 {
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    display: block;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: indigo;
}

.error_message {
    color: red;
}

.form_table {
    border: 0;
    width: 100%;
}

.readonly {
    background-color: lightgray;
    border: 1px solid gray;
}

.sort_here {
    font-style: italic;
}

.task_editor {
    float: none;
    display: inline;
}

.task_item {
    width: 160px;
    min-height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    background-color: #b8fffa;
    margin: 3px;
    padding: 4px;
    float: left;
    overflow: auto;
}

.task_item.legend {
    width: 100px;
    height: 20px;
    min-height: 20px;
}

.task_item.added {
    background-color: #fffc51;
}

.task_item.modified {
    background-color: #ff9270;
}

.task_item.not_included {
    background-color: lightseagreen;
}

.task_item_tags {
    font-style: italic;
}

.task_options {
    float: right;
}

.column_header {
    height: 20px;
    margin: 5px;
}

.column_task_group {
    width: 30%;
    text-align: left;
    vertical-align: top;
    min-height: 100px;
}

.back0 {
    background-color: #ffccc0;
}

.back1 {
    background-color: lightyellow;
}

.back2 {
    background-color: lightgreen;
}

.back3 {
    background-color: lightsalmon;
}

.back4 {
    background-color: lightgrey;
}

.back5 {
    background-color: moccasin;
}

#branch_name {
    font-weight: bold;
}

.hidden {
    display: none;
}

#hour_count {
    font-size: 8pt;
}

.loading {
    float: left;
}

.main_menu {
    padding: 5px;
    width: 98%;
    background-color: white;
    border: 1px solid black;
    vertical-align: middle;
    height: 50px;
}

.main_menu_top_section {
    height: 30px;
    vertical-align: middle;
}

.main_menu_space {
    height: 2px;
}

.menu_section {
    float: left;
    line-height: 25px;
}

.menu_right_section {
    float: right;
    vertical-align: middle;
}

.status {
    margin-left: 20px;
    float: left;
}

.success {
    float: left;
}

#task_menu {
    position: absolute;
    background-color: white;
    width: 160px;
    min-height: 60px;
    border: 1px solid black;
    padding: 2px;
}

.task_menu_list {
    list-style-type: none;
    padding: 0;
}

.task_menu_item {
    margin: 5px;
}

.task_edit_input {
    width: 100%;
}

.task_edit_form_keys_column {
    text-align: right;
    width: 20%;
}

.task_edit_form_values_column {
    width: 80%;
}

#timer_display {
    font-weight: bold;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: darkgreen;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  background: #3498db;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}